<h1>StaticPages#utah</h1>
<p>Find me in app/views/static_pages/utah.html.erb</p>

<% latitude, longitude = @ip_info['loc'].split(',') %>
<% if @ip_info %>
  <iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=<%= latitude %>&lon=<%= longitude %>&name=<%= @ip_info['city'] %>"> </iframe>

  <img src="http://maps.googleapis.com/maps/api/staticmap?center=<%= latitude %>,<%= longitude %>&zoom=7&size=600x600&sensor=false">

  <img src="http://maps.googleapis.com/maps/api/streetview?size=600x600&location=<%= latitude %>,<%= longitude %>&heading=235&sensor=false">
<% end %>