<%= simple_form_for(@project) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description, input_html: {rows: 6} %>
    <%= f.input :url %>
    <%= f.input :completed_at, include_blank: true %>
    <%= f.input :published_at, include_blank: true %>
    <%= f.input :stats, input_html: {rows: 6} %>
    <%= f.association :user, collection: @users.collect {|user| [ user.full_name, user.id ] } %>
    <h3> Upload a cover image </h3>
    <div class ="photo-upload">
      <%= f.simple_fields_for :pictures do |p| %>
        <%= render "picture_fields", :f => p %> 
        <div class='links'>
          <%= link_to_add_association 'Add More Pictures', f, :pictures, :class => "btn btn-success" %>
        </div>
      <% end %>
    </div>
    <h3> Add a tag</h3>
    <div class="tasks">
      <%= f.simple_fields_for :tags do |tag| %>
        <%= render "tag_fields", :f => tag %>
        <div class='links'>
          <%= link_to_add_association 'Add More Tags', f, :tags, :class => "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
