<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @post.title %>
</p>

<p>
  <b>Body:</b>
  <%= @post.body %>
</p>

<p>
  <b>Published at:</b>
  <%= human_date_time @post.published_at %>
</p>

<p>
  <b>User:</b>
  <%= @post.user %>
</p>

<p>
  <b>Seo title:</b>
  <%= @post.seo_title %>
</p>

<p>
  <b>Seo description:</b>
  <%= @post.seo_description %>
</p>
<% @post.pictures.each do |pic| %>
<%= image_tag(pic.image.url(:medium)) %>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

